@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-list li {
    @apply pl-6; /* Padding to align text with the icon */
    list-style: none; /* Remove default list style */
    position: relative; /* Position to place icon */
  }
  
  .custom-list li::before {
    content: '';
    @apply absolute left-0 top-1/2 transform -translate-y-1/2;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23ffffff" viewBox="0 0 24 24"%3E%3Ccircle cx="12" cy="12" r="12" fill="%23547484"/%3E%3Cpath d="M11 16l-3-3 1.414-1.414L11 13.172l5.293-5.293L18 9l-7 7z" fill="%23ffffff"/%3E%3C/svg%3E');
    width: 1em;
    height: 1em;
  }

  .custom-circle-list li {
    @apply pl-6; /* Padding to align text with the icon */
    list-style: none; /* Remove default list style */
    position: relative; /* Position to place icon */
  }
  
  .custom-circle-list li::before {
    content: '';
    @apply absolute left-0 top-3 transform -translate-y-1/2;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23547484" viewBox="0 0 24 24"%3E%3Ccircle cx="12" cy="12" r="12" fill="%23547484"/%3E%3Cpath d="M11 16l-3-3 1.414-1.414L11 13.172l5.293-5.293L18 9l-7 7z" fill="%23547484"/%3E%3C/svg%3E');
    width: 0.75em;
    height: 0.751em;
  }